<!DOCTYPE html>
<html>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          text-align: center;
        }
        </style>
</head>
<body style="background-color:powderblue;">


<table style="width:100%">
  <tr>
    <th></th>
    <th>1</th>
    <th >2</th>
    <th >3</th>
    <th >4</th>
    <th >5</th>
  </tr>
  <tr>
    <td><b>1</b></td>
    <td><%=object[0]%></td>
    <td><%=object[1]%></td>
    <td><%=object[2]%></td>
    <td><%=object[3]%></td>
    <td><%=object[4]%></td>
  </tr>
  <tr>
    <td><b>2</b></td>
    <td><%=object[5]%></td>
    <td><%=object[6]%></td>
    <td><%=object[7]%></td>
    <td><%=object[8]%></td>
    <td><%=object[9]%></td>
  </tr>
  <tr>
    <td><b>3</b></td>
    <td><%=object[10]%></td>
    <td><%=object[11]%></td>
    <td><%=object[12]%></td>
    <td><%=object[13]%></td>
    <td><%=object[14]%></td>
  </tr>
  <tr>
    <td><b>4</b></td>
    <td><%=object[15]%></td>
    <td><%=object[16]%></td>
    <td><%=object[17]%></td>
    <td><%=object[18]%></td>
    <td><%=object[19]%></td>
  </tr>
  <tr>
    <td><b>5</b></td>
    <td><%=object[20]%></td>
    <td><%=object[21]%></td>
    <td><%=object[22]%></td>
    <td><%=object[23]%></td>
    <td><%=object[24]%></td>
  </tr>
</table>

<h1>accuracy=<%=accuracy%>% </h1>


</body>
</html>


</html>